.cover {
  padding: 5% 0 5% 0;
  .title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 25px 0px 25px 0px;
  }
  .date {
    margin: 25px 0px 25px 0px;
  }
  .organized {
    margin: 30px 0px 30px 0px;
  }
}

.about {
  padding: 5% 0 5% 0;
  .about-para {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  .about-img {
    img {
      width: 100%;
    }
  }
}

.events {
  padding: 5% 0 5% 0;
  .card-header {
    padding: 0;
    img {
      width: 100%;
    }
  }
}

.schedule {
  padding: 5% 0 5% 0;
}

.guest {
  padding: 5% 0 5% 0;
}

.contact {
  padding: 5% 0 5% 0;
}

.map {
  padding: 5% 0 5% 0;
}

.sponsors {
  padding: 5% 0 5% 0;
}

.name-of-vip {
  text-transform: uppercase;
  color: dodgerblue;
  font-size: 1.2rem;
}


.timer {
  padding: 5px;
  text-align: center;
  background: green;


  h1 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: floralwhite;
  }

  .timer-list {
    display: inline-block;
    font-size: 1em;
    color: floralwhite;
    font-weight: bold;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  .timer-list span {
    display: block;
    font-size: 2rem;
  }



  // h1 {
  //   padding: 5px;
  //   font-size: 2rem;
  // }
  // #demo {
  //   color: red;
  //   padding: 10px;
  //   font-size: 2rem;
  //   font-weight: bold;
  // }
}